.boxAgd {
  background-color: var(--color-input-bg);
  padding: var(--spacing-large);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  width: 300px; /* largura fixa */
  height: 500px; /* altura fixa */
  overflow: hidden; /* sem rolagem */
  display: flex;
  flex-direction: column;
  align-items: center;
}


.box1 {
  display: flex;
  max-width: 100%;
  gap: 8px;
}

.nome, .numero {
  display: flex;
  flex-direction: column;
}


.botaoSalvar {
  width: 100%;
  text-align: center;
  margin-top: var(--spacing-base);
}

.botaoComIcone {
  padding: var(--spacing-base) var(--spacing-large);
  background: linear-gradient(to left, var(--color-gradient-start), var(--color-gradient-end));
  color: white;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  display: flex;
  align-items: center;    /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  gap: 8px;     
}


.box2 {
  margin-top: var(--spacing-large);
  width: 100%;
}

.agenda {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 150px; /* limite para área dos contatos */
  overflow-y: auto; /* rolagem interna se ultrapassar */
}

/* Estilização da barra de rolagem para .agenda */
.agenda::-webkit-scrollbar {
  width: 8px; /* largura da barra de rolagem */
}

.agenda::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05); /* cor do trilho/fundo */
  border-radius: 10px;
}

.agenda::-webkit-scrollbar-thumb {
  background: var(--color-primary); /* cor do "polegar" */
  border-radius: 10px;
}

.agenda::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-dark); /* cor ao passar o mouse */
}

/* Para Firefox */
.agenda {
  scrollbar-width: thin; /* 'thin' ou 'auto' */
  scrollbar-color: var(--color-gray) rgba(0, 0, 0, 0.05); /* polegar e trilho */
}

.contato {
  background-color: var(--color-link-bg);
  padding: var(--spacing-base);
  border-radius: var(--border-radius);
  display: flex;
  gap: 15px;
  align-items: center;
}
.contato p {
  color: var(--color-gray);
  margin: 5px 0;
}.contato h3 {
  margin: 5px 0;
  max-width: 100%; /* não ultrapassa container */
  overflow: hidden; /* esconde conteúdo extra */
  text-overflow: ellipsis; /* mostra "..." se cortar */
  white-space: nowrap; /* mantém em uma linha */
}
.contato-buttons {
  display: flex;
  gap: 5px; /* espaço entre botões */
  
}

.contato button {
  padding: 5px;
  font-size: 0.8rem;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.contato button:hover {
  background-color: var(--color-primary-dark);
}