.boxGrd {
  background-color: var(--color-input-bg);
  padding: var(--spacing-large);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  width: 300px; /* largura fixa */
  height: 500px; /* altura fixa */
  overflow-y: auto; /* rolagem interna */
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Estilização da barra de rolagem para .boxGrd */
.boxGrd::-webkit-scrollbar {
  width: 8px; /* largura da barra de rolagem */
}

.boxGrd::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05); /* cor do trilho/fundo */
  border-radius: 10px;
}

.boxGrd::-webkit-scrollbar-thumb {
  background: var(--color-gray); /* cor do "polegar" */
  border-radius: 10px;
}

.boxGrd::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-dark); /* cor ao passar o mouse */
}

/* Para Firefox */
.boxGrd {
  scrollbar-width: thin; /* 'thin' ou 'auto' */
  scrollbar-color: var(--color-gray) rgba(0, 0, 0, 0.05); /* polegar e trilho */
}
.gerador{
 width: 100%;
}

.botaoComIcone {
  font-family: var(--font-primary);
  width: 100%;
  margin-top: var(--spacing-base);
  padding: var(--spacing-base) var(--spacing-large);
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  display: flex;
  align-items: center;    /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  gap: 8px;                /* Espaço entre ícone e texto */
}

.botaoComIcone:hover {
  background-color: var(--color-primary-dark);
}

.linkGerado {
  margin-top: var(--spacing-large);
  width: 100%;
}

.linkGerado h2 {
  margin-bottom: var(--spacing-base);
}

.copiarLink {
  display: flex;
  align-items: center;
  gap: var(--spacing-base);
  background-color: var(--color-link-bg);
  padding: var(--spacing-base);
  border-radius: var(--border-radius);
}

.link {
  word-break: break-all;
  flex: 1;
}
