.mensagem {
  margin-top: var(--spacing-base);
  display: flex;
  flex-direction: column;

}

textarea {
  max-width: 10px;
  min-width: 94%;
  border:none;
  border-radius: 6px;
  padding: 8px;
  background-color: var(--color-link-bg);
  font-family: var(--font-primary);
  font-size: 0.8rem;
}


.mensagem .botaoComIcone {
  margin-top: var(--spacing-base);
}

.linkGerado {
  width: 100%;
}

.copiarLink button {
  background: none;
  border: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  .boxGrd {
    min-width: 90%;
  }
}