@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  /* Atualize as variáveis de fonte */
  --font-primary: "Nunito", sans-serif;
  --color-bg: #f5f7fa;
  --color-text: #333;
  --color-primary: #25d366;
  --color-primary-dark: #1da851;
  --color-gradient-start: #25d366;
  --color-gradient-end: #207a2f;
  --color-input-border: #c5c5c5;
  --color-input-bg: #fff;
  --color-link-bg: #f5f5f5;
  --color-gray:#c5c5c5;

  --spacing-base: 10px;
  --spacing-large: 20px;
  --spacing-xlarge: 40px;

  --border-radius: 6px;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  --font-size-title: 2.5rem;
  --font-size-subtitle: 1.8rem;
  --font-size-text: 1.1rem;
}


body {
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
}

.header {
  display: flex;
  align-items: center;
  gap: var(--spacing-base);
  justify-content: center;
}
.titulo h1{
  background: linear-gradient(90deg, var(--color-gradient-start), var(--color-gradient-end));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
      /* Para navegadores baseados em Chromium */
      
      /* Compatibilidade com Firefox */
  background-clip: text;
  color: transparent;
}
.header h1 {
  color: var(--color-text);
  font-size: var(--font-size-subtitle);
  margin-bottom: var(--spacing-large);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--spacing-xlarge) var(--spacing-base);
}

.titulo {
  text-align: center;
  margin-bottom: var(--spacing-xlarge);
}

.titulo h1 {
  font-size: var(--font-size-title);
  color: var(--color-primary);
  margin-bottom: var(--spacing-base);
}

.titulo p {
  font-size: var(--font-size-text);
  color: #555;
  max-width: 600px;
  margin: 0 auto;
}

.caixas {
  display: flex;
  justify-content: center;
  gap: var(--spacing-large);
  flex-wrap: wrap;
}

h2{
  font-size: 1rem;
}
input {
  padding: var(--spacing-base);
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--color-link-bg);
  width: 90%;
}


